/* racing-sans-one-regular - latin */
@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/racing-sans-one-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Racing Sans One'), local('RacingSansOne-Regular'),
       url('../fonts/racing-sans-one-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/racing-sans-one-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/racing-sans-one-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/racing-sans-one-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/racing-sans-one-v4-latin-regular.svg#RacingSansOne') format('svg'); /* Legacy iOS */
}
